<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../Styling/styletemplate.css">
  </head>
  <body id="about">

    <a class="tab" id="sp_home" href="/frontpage" id="frontpage">Home</a>

    <h1 id="about_title">About Us!</h1>

    <div class="us">
      <img src="https://preview.ibb.co/c94oBK/Karlee.jpg">
      <h2 class="us-text">Karlee Wong</h2>
      <p class="us-description">School: University of Washington, Seattle<br>
      Intended Major: Electrical Engineering<br>
      Home City: Seattle, Washington<br></p>
    </div>

    <div class="us">
      <img src="https://media.licdn.com/dms/image/C5603AQFOk2p1-no8FA/profile-displayphoto-shrink_800_800/0?e=1538611200&v=beta&t=xEG72-1E9uG3oOVGYNUmieaFbx8sDRMgbvhCSUQ8YRE" alt="">
      <h2 class="us-text">Ghislain Bugingo</h2>
      <p class="us-description">School: University of Washington, Seattle<br>
      Intended Major: Computer Science<br>
      Home City: Kent, Washington<br></p>
    </div>

    <div class="us">
      <img src="https://preview.ibb.co/mmAbgK/IMG_1195_1.jpg">
      <h2 class="us-text">Jaspreet Bhamipuri</h2>
      <p class="us-description">School: University of Washington, Seattle<br>
      Intended Major: Undecided<br>
      Home City: Seattle, Washington<br></p>
    </div>

  </body>
</html>
