<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Collection</title>
    <link rel="stylesheet" href="../Styling/styletemplate.css">
  </head>

    <body id="collection">

      <a href="/frontpage" id="frontpage">Home</a>

      <div class="title">
        <h1 class="title-text">My Collection</h1>
      </div>

      {% for images in all_images %}
      <div class="picture collection_outline">
        <img class="description collection_pictures" src="{{ images.image_url }}" alt=""><br>
        <p>{{ images.description }}</p>
      </div>
      {% endfor %}

</html>
