<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Collection</title>
    <link rel="stylesheet" href="../Styling/styletemplate.css">
  </head>

    <body id="collection">

      <a href="/frontpage" id="frontpage">Home</a>

      <div class="title">
        <h1 class="title-text">My Collection</h1>
      </div>

      <div class="collection_outline">
        <img class="collection_pictures" src="{{ new_image }}" alt=""><br>
        <p>{{ family_members }}</p>
      </div>

</html>
