<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Styling/frontbasicstyle.css">
    <title>Google CSSI Kirkland 2018</title>
  </head>


<body>
    <form method="POST" action='/frontpage'>

    <div id="title">
      <h1>CSSI 2018 Family</h1>

      <img src="front_images" alt="Placeholder">
      <input type="file" accept="Url" name="img_file"/>
      <input type="submit" value="Upload your image"/>
    </div>
    </form>
    <div id="des">
      <p>(Description)</p>
    </div>
    <div id="mySidenav" class="sidenav">

      <a href="/timeline" id="timeline">Timeline</a>
      <a href="/collection" id="collection">Collection</a>
      <a href="/tree" id="tree">Tree</a>

    </div>
  </body>
</html>
