<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../Styling/profile.css">
    <style media="screen">

      #profile-pic{
        border-radius: 0%;
      }
    </style>
  </head>
  <body>
    <div>
      <h2>{{name}}</h2>
      <img id="profile-pic" src="{{tree_pic}}" alt="Person">
    </div>

    <p>{{description}}</p>

    <div>
      <a class="tab" href="/frontpage" id="frontpage">Home</a>
      <a class="tab" href="/tree" id="tree">Tree</a>
    </div>

  </body>
</html>
