<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Timeline</title>
    <link rel="stylesheet" href="../Styling/timeline_event.css">
    <script src="timeline_script.js"></script>
  </head>


  <body id="timeline_event">
    <h3 class="event_name">Event Name</h3>
    <h5 class="event_date">Event Date</h5>
    <img class="event_image" src="https://static1.squarespace.com/static/556dc1f2e4b022801f578a35/556dc782e4b0fce3ad1a5c96/5975fa16b8a79b94b0cd4355/1500906553969/air-760325_960_720.jpg">
    <p class="event_des"> Description of Event </p>
  </body>
</html>
