<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Timeline</title>
    <link rel="stylesheet" href="../Styling/styletemplate.css">
    <script src="timeline_script.js"></script>
  </head>


    <body id="timeline">

      <a class="tab" href="/frontpage" id="frontpage">Home</a>

      <div class="title">
        <h1 class="title-text">Timeline</h1>
      </div>

  <div class="timeline">

    {% set i = 0 %}
    {% for entry in entries %}

      <a class="link" name="" href="/timeline-event?id={{i}}">
        <div class="entry">
          <h1>{{ entry.date }}</h1>
          <h2>{{ entry.name }}</h2>
            <img src="{{ entry.photo}}"/>
        </div>
      </a>

      {% set i = i + 1 %}
    {% endfor %}

    <!-- <a class="link" href="/timeline-event">
      <div class="entry">
        <h1>Day 03</h1>
        <h2>Entry Title</h2>
          <img src="http://dummyimage.com/300x200/000/fff"/>
      </div>
    </a>

    <a class="link" href="/timeline-event">
      <div class="entry">
        <h1>Day 04</h1>
        <h2>Entry Title</h2>
          <img src="http://dummyimage.com/300x200/000/fff"/>
      </div>
    </a>

    <a class="link" href="/timeline-event">
      <div class="entry">
        <h1>Day 05</h1>
        <h2>Entry Title</h2>
          <img src="http://dummyimage.com/300x200/000/fff"/>
      </div>
    </a> -->


</div>

    </html>
