body {
  background-color: #CCCCCC;
}

#title {
  margin: 10px;
  padding: 30px;
  background-color: white;
}

img {
  border-radius: 50px;
  width: 100%;
  height: auto;
}

#des {
  margin: 10px;
  background-color: white;
  padding: 25px;
}

p {
  color:#D8C3A5;
  text-align: center;
  font-family: verdana;
}

h1 {
  padding: 20px;
  margin: 0px;
  font-size: 48px;
  font-family: helvetica;
  text-align: center;
  color: #D8C3A5;
}

#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -100px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

#timeline {
    top: 20px;
    background-color: #86B3D1;
}

#collection {
    top: 80px;
    background-color: #EDB5BF;
}

#tree {
    top: 140px;
    background-color: #99CED3;
}

#about {
    top: 200px;
    background-color: #5d5d5d;
}
