#about {
  background-color: #0B0C10;
}

#about_title {
  color: #66FCF1;
  font-family: impact;
  text-align: center;
  font-size: 196px;
  font-variant: small-caps;
}

#sp_home {
  top: 20px;
  background-color: #66FCF1;  
}

.us {
  background-color: black;
  border: solid #45A29E 2px;
  display: inline-block;
  margin: 10px;
  width: 30%;
  max-width: 100%;
}

.us-text {
  text-align: center;
  color: #C5C6C7;
  font-family: impact;
  font-variant: small-caps;
}

#timeline {
  background-color: #86B3D1;
}

#tree {
  background-color: #99CED3
}

#collection {
  background-color: #EDB5BF;
}

.title {
  background-color: white;
  margin-top: 0px;
  padding: 20px;
}

.title-text {
  color: #D8C3A5;
  font-family: sans-serif;
  text-align: center;
  margin-top: 0px;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 12px;
}

a {
    position: absolute; /* Position them relative to the browser window */
    left: -100px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

#frontpage {
    top: 20px;
    background-color: #D8C3A5;
}
