#about {
  background-color: #0B0C10;
}

#about_title {
  color: #66FCF1;
  font-family: impact;
  text-align: center;
  font-size: 96px;
  font-variant: small-caps;
}

#sp_home {
  top: 20px;
  background-color: #66FCF1;
}

.us {
  background-color: black;
  border: solid #45A29E 2px;
  display: inline-block;
  margin: 10px;
  width: 30%;
  max-width: 100%;
}

.us img {
  
}

.us-text {
  text-align: center;
  font-size: 54px;
  color: #C5C6C7;
  font-family: impact;
  font-variant: small-caps;
}

.us-description {
  text-align: center;
  font-size: 36px;
  color: #C5C6C7;
  font-family: impact;
  font-variant: small-caps;
}

#timeline {
  background-color: #86B3D1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#tree {
  background-color: #99CED3
}

#collection {
  background-color: #EDB5BF;
}

.collection_outline {
  margin: 1px;
  background-color: white;
  display: inline-block;
}

.collection_outline p {
  margin: 0px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 20px;
  text-align: center;
}

.collection_pictures {
  width: 200px;
  height: 200px;
}

#settings {
  background-color: #E8E8E8;
}

.center-form {
  margin-left:15%;
  margin-right:15%;
}

.inputs {
  margin-top: 0px;
  padding: 25px;
  background-color: white;
}

.center-form h2 {
  margin-bottom: 3px;
  font-family: monospace;
}

.center-form h4 {
  font-family: sans-serif;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.title {
  background-color: white;
  margin-top: 0px;
  padding: 20px;
}

.title-text {
  color: #D8C3A5;
  font-family: sans-serif;
  text-align: center;
  margin-top: 0px;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 12px;
}

a {
    position: absolute; /* Position them relative to the browser window */
    left: -100px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

#frontpage {
    top: 20px;
    background-color: #D8C3A5;
}

#banner-image {
  margin-top: 20px;
  margin-bottom: 0px;
  height: auto;
  max-width: 100%;
}

.date {
  display: inline-block;
  width: 10%;
  text-align: center;
}

.timeline {
  margin-top: 0px;
  background-color: #eaeaea;
  white-space:nowrap;
  overflow-x: scroll;
  padding:30px 0 10px 0;
  position:relative;
}

.entry {
    display:inline-block;
    vertical-align:top;
    background:#8d99a8;
    color:#fff;
    padding:5px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-top:4px solid gray;
    border-radius:3px;
    min-width:100px;
    max-width:100px;
}

.entry img {
    display:block;
    max-width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}

.entry:after {
    content:'';
    display:block;
    background:#eee;
    width:7px;
    height:7px;
    border-radius:6px;
    border:3px solid #06182E;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:block;
    background:#06182E;
    width:5px;
    height:20px;
    position:absolute;
    left:50%;
    top:-20px;
    margin-left:-2px;
}

.entry h1 {
    color:#fff;
    font-size:18px;
    font-family:Georgia, serif;
    font-weight:bold;
    margin-bottom:10px;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
}

.bar {
    height:4px;
    background:#fff;
    width:100%;
    position:relative;
    top:13px;
    left:0;
}s
